h1 {
    font-family: 'Roboto', sans-serif;
  }


body {
    background-color: #E9E9E9;
    font-family: 'Poppins', sans-serif;
      
}

.image {
  width: 67px;
  height: 75px;
}

.image .logo-mnd-removebg {
  position: fixed;
  width: 67px;
  height: 75px;
  top: 1;
  right: 91%;
  object-fit: cover;
}