h1, h3  {
    font-family: 'Roboto', sans-serif;
  }

  p{
    font-family: 'Poppins', sans-serif ;
  }

  a{
    font-family: 'Poppins', sans-serif ;
  }

  button{
    font-family: 'Poppins', sans-serif;
  }
  

body {
    background-color: #E9E9E9;
    font-family: 'Poppins', sans-serif;
      
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.6rem;
  }
}

#background-img{
  background-image: url(local/galeria/pordosol-bg.png);
  max-width: 100%;
}

#navbar {
  background-color: #161616; /* Cor de fundo da barra de navegação */
}

.navbar-brand {
  margin-right: auto; /* Coloca a logo à direita */
}

.navbar-nav .nav-item {
  margin-right: 10px; /* Espaçamento entre os itens de navegação */
}

.modal {
  display: none;
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

/* Modal Content/Box */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 80%; 
  height: 80%;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.imagem-com-texto {
  position: relative;
  max-width: 100%;
}

.retangulos{
  width: 81px;
  height: 104px;
}

.modaltitulo {
  position: absolute;
  transform: translateX(0%);
  z-index: 2;
  margin-top: -6.5%;
  margin-left: 2%;
  color: #161616; 
  font-weight: bolder;
  font-size: 48px; 
}

.apresentacao{
  width: 80%;
}

.video{
  width: 90% ;
}



.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; 
}


.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}


.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; 
  backface-visibility: hidden;
}


.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: #FEF2E0;
  color: #656565;
  transform: rotateY(180deg);
}

.texto-card{
  transform: translateX(-11%);
  z-index: 2;
  margin-top: -10%;
  color: #ffffff; 
  font-weight: bolder;
}

.ml-6 {
  margin-left: 6rem !important;
}

.ml-n10 {
  margin-left: -10rem !important;
}

.mt-6 {
  margin-top: 3.5rem !important;
}

.mt-7 {
  margin-top: 7rem !important;
}

.mt-8 {
  margin-top: 8.3rem !important;
}

.mt-n7 {
  margin-top: -7rem !important;
}

.mt-n3 {
  margin-top: -3rem !important;
}

.mt-n5 {
  margin-top: -5rem !important;
}

.mt-10 {
  margin-top: 10rem !important;
} 

.mb-6{
  margin-bottom: 8rem !important;
}

.mr-7{
margin-right: 7rem;
}

.container{
  width: 100%;
}

.duracao{
  width: 250px;

}

.barra{
  width: 250px;
  height: 10px;
  border: 1px solid #eee;
  border-radius: 5px;
  display: flex;
}

progress {
  height: 8.5px;
  width: 100%;
}

@media (max-width: 460px) {

  .video{
    width: 100%;
  }

  .apresentacao{
    width: 100%;
  }

  .logo{
    width: 100%;
  }

  .duracao{
    width: 100%;
  }

  .hide-on-small-screen {
    display: none !important;
  }
}

* {box-sizing: border-box}

.cont{
  width: 90%;
  height: 100%;
}

input[type=text], input[type=tel] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=tel]:focus {
  background-color: #ddd;
  border-color: #FACE32;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
  
  background-color: #FAAA32;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  width: 27%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}


